@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap');

:root{
    --font-titulos:'Pridi', serif;
    --font-textos:'Roboto', sans-serif;
    --cor1:#1DAA47;
    --cor2:#065064;
}
#top1 {
    font-family: var(--font-titulos);
    color: white;
    text-align: center;
    padding: 20px;
    background-color: var(--cor2);
}
#top1 > h3{
    font-weight: 400;
}
/* ---- informaçõs ----- */
.informações {
    background-color: #1DAA47;
    box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.445);
    color: white;
    height: 45vh;
    font-family: var(--font-textos);
    padding: 10px 0px;
}
.informações > h3 {
    font-weight: 500;
    font-family: var(--font-titulos);
    text-align: center;
    margin-bottom: 3vh;
}
.informações > article{
    display: flex;
}

.left > div {
    margin-bottom: 3vh;
}
#card_1 {
    display: flex;
}
#card_1 > img {
    width: 60px;
    height: 60px;
    padding: 0px 10px;
}
#card_2 {
    display: flex;
}
#card_2 > img {
    width: 60px;
    height: 60px;
    padding: 0px 10px;
}
.left {
    width: 20vw;
    margin-left: 26%;
    padding: 0px 70px 0px 0px;
    padding-top: 30px;
}
.right {
    width: 35vh;
    margin-right: 10%;
    height: 22vh;
    display: flex;
    padding: 0px 0px 0px 70px;
    border-left: solid;
    padding-top: 30px;
}
.right > div >img {
    padding: 20px 10px;
    width: 50px;
    display: flex;
}
/*------ animação --------*/
.anim {
    background: var(--cor2);
    padding: 10vh 0;
    display: flex;
}
.anim > aside {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: solid 1px white;
    font-size: 16px;
}
.Explanation {
    width: 50vh;
    font-family: var(--font-titulos);
    color: white;
    margin-top: 20vh;
    margin-left: 10vw;
    font-size: 64px;
    text-shadow: 10px 1px 10px black;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.5s, transform 0.5s;
}
/* os balões */
.icon
{
    filter: brightness(0);
}
.ballon
{
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    max-width: 200px;
    word-wrap: break-word;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.5s, transform 0.5s;
}
.piraseg {
    margin: 2%;
    margin-right: auto;
    width: max-content;
    color: #ffffff;
    font-family: var(--font-textos);
    padding: 5px 20px;
    background-color: #ece5dd;
    border-radius: 10px;
    align-self: flex-start;
    color: black;
    font-size: 12px;
}

.user{
    margin: 2%;
    margin-left: auto;
    width: max-content;
    color: #ffffff;
    font-family: var(--font-textos);
    padding: 5px 20px;
    background-color: #075e54;
    border-radius: 10px;
    align-self: flex-end;
    font-size: 12px;
}
.anim > aside > div > h4 {
    width: max-content;
    text-align: left
}
.contato > div {
    margin-bottom: 3vh;
}
.contato > div > img {
    width: 14px;
    padding: 0px 2px;
}
.contato {
    text-align: left;
    width: 100%;
}

.mark{
    color: var(--cor1);
    text-decoration: underline;
}
.mark:hover{
    color: rgb(18, 18, 182);
}
/* SMARTPHONE */

  
.smartphone {
    margin-left: auto;
    margin-right: 15vw;
    position: relative;
    width: 300px;
    height: 550px;
    background-color: #333;
    border: solid 6px black;
    border-radius: 20px;
    overflow: hidden;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.5s, transform 0.5s;
    box-shadow: 50px 20px 100px black;
  }
  
  .screen {
    height: 80%;
    padding: 10px 0px;
    background-image: url(../imgs/zapzapfundo.jpg);
    background-size: cover;
    overflow: auto;
  }
  
  .button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 10px;
    background-color: #666;
    border-radius: 5px;
  }
  